/* fő stílusok - mobile first */
html, body {
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial,sans-serif;
    background: #333;
    color:#fff;
    line-height: 1.5;
    font-size: 1.1em;
    text-align: center;
}
img {
    display: block;
    width:100%;
    height: auto;
}
ul {
    list-style: none;
    padding: 0;
}

h1,h2,h3,
p {
    margin: 0;
    padding: 1em 0;
}
.btn {
    display:inline-block;
    background: #333;
    color:#ffff;
    text-decoration: none;
    border:1px solid #666;
    padding: 1em 2em;
    margin: .5em;
}
.btn:hover {
    background: #ebebeb;
    color:#333;
}
/*hero*/
header {
    min-height: 450px;
}
header .bg-img {
    background: #333
                url('https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                no-repeat
                center;
    background-size: cover;
    width:100%;
    height: 450px;
    /*pozíció*/
    position: absolute;
    z-index: -1;
    opacity: .4;
}
header h1 {
    padding-top: 80px;
    padding-bottom: 0;
}
header p {
    padding:1em;
}
/*1. szekció*/
#section-1 {
    background: #eaeaea;
    color:#333;
    padding:1em 1.5em;
}
/*2. szekció*/
#section-2 {
    padding: 1.5em 1em 1em;
}
#section-2 li {
    background: #fff;
    color: #333;
    margin-bottom: 1em;
}
#section-2 .card-content {
    padding: 1em;
}
/*3. szekció*/
#section-3 {
    background: #fff;
    color: #333;
    padding: 1.5em;
}
/*4. szekció*/
#section-4 {

}
#section-4 .box {
    padding: 1.5em;
    background: #ff4f1b;
    color: #333;
}
#section-4 .box:first-child {
    background: #007bff;
    color: #fff;
}
/*Lábléc*/
#main-footer {
    padding: 1.5em;
    background: #000;
    color: #fff;
}
#main-footer a {
    text-decoration: none;
    color: #007bff;
}

/*nagy képernyőn rendeződés*/
@media screen and (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2,2fr) 1fr;
    }
    .wrap,
    #section-2 ul {
        grid-column: 2/4;
    }
    #section-2 ul {
        display: flex;
        justify-content: space-between;
    }
    #section-2 ul li {
        width: 32%;
    }
    #main-footer > div,
    #section-4 > .box {
        grid-column: span 2;
    }
    /*két hasáb az 1. szekcióba */
    #section-1 p {
        column-count: 2;
        text-align: justify;
        column-gap: 1.5em;
    }
}
