/*általános <a> TAGEK formázása*/
a {
    color: #A4BCC2;
}

/*gombok osztályon belüli <a> TAGEK formázása*/
.gombok a {
    color: rgb(155, 195, 162);
    text-decoration: none;
    background-color: rgb(94, 71, 34);
    font-family: "Arial Narrow", Arial, sans-serif;
    padding: 7px 10px;
}

.gomb-1 {
    box-shadow: 0 3px 3px rgb(0, 0, 0);
    margin-right: 30px;
    text-transform: uppercase;
    border: 1px solid #fff;
}

a.gomb-1:hover { /*gomb-1 osztályú <a> TAG*/
    background-color: rgb(74, 51, 14);
    color: #fff;
}

a.gomb-2 {
    background-color: #fff;
    color: #333;
    border: 4px double #333;
    display: inline-block;
    /*lekerekítés*/
    /*border-radius: 50px; ha a kisebbik méret felénél nagyobb az érték akkor a kisebbik oldal lekerekítése valósul meg*/
    border-radius: 4px;
}

.gomb-2:hover {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.65);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.65);;
}

a.gomb-3 { /*scroll to top pozicionálás*/
    display: block;
    position: fixed;
    /*pozícionálás lehet top left right bottom*/
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    padding: 15px;
    /*lekerekítés*/
    border-radius: 45px;
    /*szöveg pozícionálása*/
    text-align: center;
    line-height: 60px;
    font-size: 45px;
    /*átlátszó border, hogy a hover ne 'ugráljon'*/
    border: 3px solid transparent;
}

.gomb-3:hover {
    border-color: rgba(74, 51, 14, 1);
    color: rgb(74, 51, 14);
    background-color: rgb(155, 195, 162);
}

a.gomb-4 {
    /*multi box shadow*/
    box-shadow: 20px 20px 5px deeppink,
    -20px 20px 25px yellow,
    -35px -30px 20px cornflowerblue,
    30px -30px 15px lawngreen,
    0 0 5px #000;
}

a.gomb-5 {
    /*ne törjön a szöveg*/
    white-space: nowrap;
}

/**Főmenü első szintű <a> TAGEK formázása**/
.mainMenu > ul {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
    font-size:16pt;
    list-style: none;
}

.mainMenu ul > li > a {
    display:inline-block;
    padding:7px 15px;
    /*margin:7px 15px;*/
    text-decoration: none;
    text-transform: capitalize;
}