/*FLEX bemutatása*/

.container {
    border: 5px solid deeppink;
    display: flex;
    flex-flow: row nowrap;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    /*justify-content: flex-end;main axis - fő tengely*/
    /* align-items: flex-end;Cross axis - keresztirányú tengely*/
}

.home {
    order:1;
}

.search {
    order:0;
}

.profile {
    order:-1;
}

