html, body {
    background: #eea;
    margin: 10px;
}

.container {
    padding: 0;
}

.container > li {
    padding: 10px;
    text-align: center;
    font-size: 24px;
    color: #eea;
    box-sizing: border-box;
    background: #87bfa5;
    list-style: none;
}

.search-input {
    background: #87bfa5;
    border: 0;
    width: 100%;
    outline: 0;
    border-bottom: 1px solid #eea;
    color: #eea;
}

::placeholder { /*minden placeholder elemre érvényes*/
    color: #eea;
}

/*csak a .search-input placeholder elemre érvényes
.search-input::placeholder {
    color:#eea;
}
*/

/*================================*/
.container {
    border: 5px solid magenta;
    display: flex;
}

.search {
    flex: 1;
}

@media screen and (max-width: 640px) {
    .container {
        flex-wrap: wrap;
    }

    .container > li {
        flex: 1 1 50%;
    }

    .search-input {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .container > li {
        flex: 1 1 100%;
    }
    .search {
        order: 1;
    }
}