/*általános formázások*/
body {
    margin: 0;
    font-family: "Trebuchet MS",Arial, sans-serif;
}

html,body {
    box-sizing: border-box;
    padding: 5px;
    background: #eeeeaa;
    height:100%;
}

.container > div {
    padding: 10px;
    font-size: 1.5em;
    color:#eea;
}

.container > div:nth-child(1) {
    background: #87bfa5;
}
.container > div:nth-child(2) {
    background: #ee5f5a;
}
.container > div:nth-child(3) {
    background: #77b9a1;
}
.container > div:nth-child(4) {
    background: lightseagreen;
}

