@import "minireset.css";

body {
    font-family: "Arial Narrow", Arial, sans-serif;
    line-height: 1.5em;
    font-size: 1.1em;
    color: #818181;
    background: #fff;
    text-align: center;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    /*background: khaki;*/
    padding: 0 15px;
}

a {
    color: #1e283c;
    text-decoration: none;
}

section:not(.wrapper) { /*ezek lehetnek a szürkék? :not(selector) kizárja az adott elemeket*/
    /*background: lime;*/
}

body > section {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

footer#skill-counters {
    background: #000;
    margin-bottom: -45px;
}

p {
    margin: 15px 0;
}

.greyBg {
    background-color: #f7f7f7;
}

.text-left {
    text-align: left;
}

/*főmenü*/
nav#main {
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .75);
    box-shadow: 0 0 5px rgba(0, 0, 0, .75);
    position: absolute;
    width: 100%
}

/*logo*/
.mainmenu .logo img {
    width: 115px;
}

/*menutoggle*/
#menuToggle {
    margin: 5px;
    background: #fff;
    padding: 0 5px;
    border-radius: 4px;
}

/*menüpontok viselkedése és színe*/
ul.mainmenu {
    margin: 0 -15px;
    text-align: left;
}

ul.mainmenu > li > a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    transition: color 400ms ease-in-out;
}

ul.mainmenu > li > a:hover,
ul.mainmenu > li > a.active {
    color: #ffb32f !important;
}

ul.mainmenu > li {
    padding: 5px 15px;
}

/*menü sticky*/
#main.sticky {
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.sticky ul.mainmenu > li > a {
    color: #1e283c;
}

/*menüelemek*/
ul.mainmenu li.logo {
    display: flex !important;
}

ul.mainmenu li.logo a {
    flex: 1;
}

#menuToggle {
    cursor: pointer;
}

ul.mainmenu li:not(.logo) {
    display: none;
}

/*Gombok*/
.btn {
    display: inline-block;
    /*float: left;
    clear:both;
    background: lime;*/
    margin: 15px 0;
    text-decoration: none;
    /**stílus alap**/
    padding: 7px 14px;
    text-transform: uppercase;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    white-space: nowrap;
    border: none;
    cursor: pointer;
}

/*típusok*/
.type-1 {
    background: #ffb32f;
    color: #fff;
    font-weight: 700;
    transition: background 300ms ease-in-out;
}

.type-1:hover {
    background: #1e283c;
}

/*gridek beállítása*/
.grid-holder {
    display: grid;
    padding-top: 15px;
    grid-gap: 30px;
}


/*szekció főcímek és alcímek*/
h1 {
    font-size: 20pt;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

/*kis címek a h1-ek fölött*/
h2.subheading { /*vonalak közti alcímek*/
    text-transform: lowercase;
    font-size: 16pt;
    font-weight: 700;
    display: block;
    margin: 10px auto;
    text-align: center;
    letter-spacing: -1px;
}

h2.subheading:before {
    position: relative;
    margin-right: 25px;
    content: "\2014";
}

h2.subheading:after {
    position: relative;
    content: "\2014";
    margin-left: 25px;
}

h3 {
    font-weight: 700;
    color: #1e283c;
    font-size: 18pt;
}

.dark-text {
    color: #212529;
}

.orange-text {
    color: #ffb32f;
}

/*slider vagy hero*/
#slider {
    min-height: 650px;
    background: transparent url('https://picsum.photos/1920/1080') center top;
    background-size: cover;
}

#hero {
    padding-top: 350px;
    color: #fff;
    text-align: left;
}

#hero h1 {
    font-size: 28pt;
    font-weight: 700;
    margin: 15px 0;
    text-align: left;
    text-transform: uppercase;
}

#hero h1 span {
    color: #ffb32f;
}

#hero h2 {
    margin: 15px 0;
    font-size: 19pt;
    text-align: left;
}

#hero p {
    margin: 15px 0;
    letter-spacing: 2px;
    text-align: left;
}

/*about*/

/*about list/listák*/
.list-1 {

}

.list-1 > li {
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 0;
}

.list-1 > li > span {
    color: #212529;
    display: inline-block;
}

.list-1 > li:first-letter, .list-1 > li span:first-letter {
    text-transform: uppercase;
}

/*skills - progress bars*/
.progress-bars {
    color: #1e283c;
    text-transform: uppercase;
    font-weight: 700;
}

.progress-bars > .bar,
.counters > li {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 15px;
}

.progress-bars > .bar > label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.progress-bars > .bar > .percent-bar {
    width: 100%;
}

/*progress TAG formázása*/
progress {
    border: 0 none #fff;
    width: 100%;
    height: 1em;
    background: #757575;
    padding: 0;
    margin: 0;
}

progress::-moz-progress-bar {
    background: #757575;
}

progress::-webkit-progress-value {
    background: #ffb32f;
}

progress::-webkit-progress-bar {
    background: #757575;
}

/*skills - counters*/
#skill-counters {
    padding: 30px 0 0 0;
    text-align: center;
    align-content: center;
    font-size: 1.6em;
    font-weight: 700;
    color: #fff;
    line-height: 1.5em;
    margin-top: 50px;
    text-transform: capitalize;
}

.counters > li {
    flex: 1 0 auto;
}

.counters .counter {
    color: #ffb32f;
    margin: 15px auto 0;
}

.counters p {
    margin: 0 auto 30px;
}

.counters .fa {
    font-size: 32pt;
}

/*services grid*/
.card {
    padding: 0.5em;
    border: 1px solid #efefef;
    box-shadow: 0 0 8px rgba(0, 0, 0, .25);
}

.card > .head {
    border-bottom: 1px solid #efefef;
    margin: 0 -0.5em; /*hordozó padding visszahúzása*/
    height: 45px;
    text-align: right;
    overflow: hidden;
}

/*számok*/
.card > .head > span {
    display: inline-block;
    font-family: "arial Black", "Arial Narrow", Arial, sans-serif;
    font-weight: 900;
    font-size: 38pt;
    letter-spacing: -0.05em;
    color: #e9e9e9;
    margin-right: 15px;
    margin-top: 30px;
    transition: margin-top 300ms ease-in-out;
}

.card:hover > .head > span {
    margin-top: 5px;
}

.card > h2 {
    text-transform: uppercase;
    font-size: 18pt;
    font-weight: 700;
    margin: 20px auto;
    color: #1e283c;
}

.card > .icon {
    background: #ffb32f;
    padding: 20px;
    color: #fff;
    font-size: 32pt;
    margin: 10px auto 15px;
    transition: transform 300ms ease-in-out;
}

.card:hover > .icon {
    transform: scaleX(-1);
}

/*************BLOG************/
.posts header > .comments {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 10px;
    background: #ffb32f;
    color: #fff;
    border-radius: 40px;
    z-index: 10;
}

.posts > article {
    position: relative;
}

/*hf: blog részt befejezni*/
/*blog dobozok és belső rész*/
.post {
    /*background: #ddd;*/
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin: 15px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.post > header > img {
    transform: scale(1.1);
    position: relative;
    transition: transform 500ms ease-in-out;
}

.post:hover > header > img {
    transform: scale(1.4);
}

.post > header {
    overflow: hidden;
    margin: -15px;
}

.post .comments {
    position: absolute;
    right: 10px;
    top: 10px;
    background: orange;
    color: #fff;
    padding: 5px 10px;
    z-index: 10;
    border-radius: 40px;
}

.post h2 {
    flex-grow: 1;
    padding-top: 30px;
}

/*hivatkozások*/
.post .post-title {
    color: #1e283c;
    font-size: 18px;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 0;
}

.post h2:first-letter {
    text-transform: uppercase !important;
}

.posts a:hover {
    color: orange;
}

/*alsó rész a szerzővel*/
.post > footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    font-weight: 700;
    color: #1e283c;
}

.post > footer .author {
    background: #1e283c;
    border-radius: 40px;
    padding-right: 15px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6) inset;
}

.post > footer .author img {
    border-radius: 40px;
    vertical-align: middle;
    margin: 3px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6) inset;
}

/***********************testimomials - owl carousel overrides****************************/
.holder {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 50px 15px 15px;
    padding-bottom: 15px;
}

#testimonials .card {
    margin: 0 15px;
    box-shadow: none !important;
    border: none;
}

#testimonials .item {
    position: relative;
    text-align: left;
}

#testimonials .item:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../images/clone.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0.04;
    background-position: top right;
    top: 0;
    right: 15px;
    overflow: hidden;
}

#testimonials p {
    margin: 15px;
}

.rating {
    color: #ffb32f;
    margin: 5px auto;
    letter-spacing: 3px;
}

.card .name {
    font-size: 18px;
    letter-spacing: 2px;
    color: #818181;
    text-transform: capitalize;
}

#testimonials .card img {
    /*csak négyzet alaku kép lehet itt különben torzít*/
    width: 100px;
    height: 100px;
    border-radius: 100px;
    top: -50px;
    position: relative;
    margin-bottom: -50px;
}

/*owl fix*/
.owl-next, .owl-prev {
    width: 50px;
    height: 50px;
    background: #ffb32f !important;
    display: inline-block;
    border-radius: 100px !important;
    border: 5px solid rgba(255, 255, 255, 0.3) !important;
    margin: 0 15px;

}

.owl-carousel .owl-nav button.owl-prev span, .owl-carousel .owl-nav button.owl-next span {
    font-size: 50px !important;
    color: #fff !important;
    line-height: 30px;
}

.owl-carousel .owl-nav button:focus {
    outline: none !important;
}

/*media query tablet méretre*/
@media screen and (max-width: 998px) and (min-width: 768px) {
    .grid-3 {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

/******* contact ******/
input, textarea {
    display: inline-block;
    width: 100%;
    min-height: 3em;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 16px;
    color: #757575;
    outline: none;
    margin: 10px 0;
}

input:focus, textarea:focus {
    border-bottom: 1px solid #757575;
}

#contact > .grid-holder {
    text-align: left;
}

.form-grid {
    /*background: deeppink;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

ul.info {
    padding: 15px 0;
}

ul.info li {
    margin: 15px 0;
}

.social a {
    color: #212529;
    margin-right: 15px;
}

.social a:hover {
    color: #757575;
}

ul.info b {
    font-weight: bold;
    display: block;
    text-transform: capitalize;
    color: #111;
    margin-top: 10px;
}
/***** porfolio grid a w3schools alapján *****/
.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
    border:1px solid rgb(239,239,239);
    box-shadow: 0 0 8px rgba(0, 0, 0, .25);
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

.portfolio-grid .column h4 {
    background: #212529;
    color:#fff;
    text-transform: uppercase;
    margin: 0 -10px;
}
.portfolio-grid .column p {
    background: rgb(239,239,239);
    margin: 0 -10px -10px;
    padding: 15px;
}
.portfolio-grid .column:hover img {
    transform: scale(1.4);
}
.portfolio-grid .column img {
    transition: transform 500ms ease-in-out;
}
.portfolio-grid .image {
    overflow: hidden;
}
/* @todo: HF portfolio elemek formázása egyedi stílusra és reszponzív megjelenés megvalósítása*/
/*médiaquery desktop kijelzőre*/
@media screen and (min-width: 768px) {
    .grid-2-1 {
        grid-template-columns: 2fr 1fr;
    }

    .grid-1-2 {
        grid-template-columns: 1fr 2fr;
    }

    .grid-1-1 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .columned {
        columns: 2;
        column-count: 2;
        column-gap: 30px;
    }

    ul.mainmenu {
        display: flex;
    }

    ul.mainmenu .logo {
        flex: 1;
    }

    ul.mainmenu > li {
        padding: 20px 15px;
    }

    #hero {
        padding-top: 200px;
    }

    #menuToggle {
        display: none;
    }

    ul.mainmenu li:not(.logo) {
        display: list-item !important;
    }

    /*countes vagy 3 oszlopos elrendeződés - flex */
    .counters {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}